<%- await include('../partials/top.ejs') %>
  <!-- Aqui começa o conteudo da admin -->
  <!-- Inicia o codigo aqui-->
  <div class="nav-horizontal">
    <ul>
      <li>
        <a href="/admin/settings" class="nav-horizontal-lista"><i class='bx bx-cog'></i> Configurações</a>
      </li>
      <li>
        <a href="/admin/settings/style" class="nav-horizontal-lista"><i class='bx bxl-tailwind-css'></i> Estilos</a>
      </li>
      <li>
        <a href="/admin/settings/alert" class="nav-horizontal-lista"><i class='bx bx-chat'></i></i> Alertas</a>
      </li>
      <li>
        <a href="/admin/settings/discord" class="nav-horizontal-lista"><i class='bx bxl-discord-alt'></i> Discord</a>
      </li>
    </ul>
  </div>

  <div style="margin-top: 10px;"></div>
  <div class="box-type-2">
    <div class="header">
      <h2>Configurações Principais</h2>
      <p>Define todas as configurações principais.</p>
    </div>
    <div class="content">
      <div class="left-side">
        <form method="post" action="/admin/settings/config">
          <div class="command">
            <label for="web_name">Nome do Painel:</label>
            <input type="text" id="web_name" name="web_name" value="<%= config.web_name %>" class="text-input">
            <p class="command-description">Nome do painel atualmente <%= config.web_name %>.</p>
          </div>

          <div class="command">
            <label for="web_url">Url do Painel:</label>
            <input type="text" id="web_url" name="web_url" value="<%= config.web_url %>" class="text-input">
            <p class="command-description">Url do painel.</p>
          </div>

          <div class="command">
            <label for="web_port">Porta do Servidor:</label>
            <input type="text" id="web_port" name="web_port" value="<%= config.web_port %>" class="text-input">
            <p class="command-description">A porta usada pelo Express.</p>
          </div>

          <div class="command">
            <label for="web_admin_id">Administradores :</label>
            <input type="text" id="web_admin_id" name="web_admin_id" value="<%= config.web_admin_id %>"
              class="text-input">
            <p class="command-description">Coloque o id dos Administradores separando por ",".</p>
          </div>
      </div>

      <div class="right-side">

        <div class="command">
          <label for="bot_client">Client ID:</label>
          <input type="text" id="bot_client" name="bot_client" value="<%= config.bot_client %>" class="text-input">
          <p class="command-description">ID do client da aplicação a ser usada..</p>
        </div>

        <div class="command">
          <label for="bot_client_secret">Client Secret:</label>
          <input type="text" id="bot_client_secret" name="bot_client_secret" value="<%= config.bot_client_secret %>"
            class="text-input">
          <p class="command-description">Cliente Secreto da aplicação do discord.</p>
        </div>

        <div class="command">
          <label for="bot_callback_url">Callback URL :</label>
          <input type="text" id="bot_callback_url" name="bot_callback_url" value="<%= config.bot_callback_url %>"
            class="text-input">
          <p class="command-description">Callback do discord 0Auth http://exemplo.com/auth/login/api.</p>
        </div>

        <div class="command">
          <label for="bot_token">Token do Bot:</label>
          <input type="text" id="bot_token" name="bot_token" value="<%= config.bot_token %>" class="text-input">
          <p class="command-description">Token do bot jamais compartilhe com ninguem.</p>
        </div>

      </div>
    </div>
    <div class="footer">
      <input type="submit" value="Salvar" class="button"> </form>
    </div>
  </div>

  <!-- Configuração do JDB -->
  <div class="box-type-2">
    <div class="header">
        <h2>Configurações do Banco de dados</h2>
        <p>seta configurações usadas pelo banco de dados</p>
    </div>
    <div class="content">
        <div class="left-side">
            <form action="/admin/settings/jdbconf" method="post">

                <div style="margin-top: 10px;"></div>

                <div class="command">
                  <div class="Form-group">
                      <label for="jdb_config_logs_display">Display de logs no terminal</label>
                      <label class="toggle-switch right <% if (jdb_config.logs_display === 'on') { %> active <% } %>">
                        <input type="checkbox" id="jdb_config_logs_display" name="jdb_config_logs_display" <% if (jdb_config.logs_display === 'on') { %> checked <% } %> onchange="toggleSwitch('jdb_config_logs_display')">
                          <span class="slider round"></span>
                      </label>
                  </div>
                  <p class="command-description">permite que o JDB mostre as logs geradas para fins de depuração,</p>
                  <p class="command-description">pode ser considerado um tipo de flood no terminal.</p>
              </div>
        </div>
        <div class="right-side">

          <div style="margin-top: 10px;"></div>

            <div class="command">
                <div class="Form-group">
                    <label for="jdb_config_logs">Ativar sistema de logs do JDB</label>
                    <label class="toggle-switch right <% if (jdb_config.logs === 'on') { %> active <% } %>">
                      <input type="checkbox" id="jdb_config_logs" name="jdb_config_logs" <% if (jdb_config.logs === 'on') { %> checked <% } %> onchange="toggleSwitch('jdb_config_logs')">
                        <span class="slider round"></span>
                    </label>
                </div>
                <p class="command-description">permite que o JDB salve todas as logs registradas, .</p>
            </div>
        </div>
    </div>
    <div class="footer">
        <input type="submit" value="Salvar JDB config" class="button">
        </form></div>
</div>
<div style="margin-top: 40px;"></div>

  <!-- Aqui termina o conteudo da admin -->
  <%- await include('../partials/footer.ejs') %>