<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="icon" href="<%=avatar%>">
  <title><%= title %> - Login</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
  <link rel="stylesheet" href="../../css/main.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
</head>

<body>
  <div id="particles-js"></div>
  <div class="text">
    <% if (error != '') { %>
      <div class="alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        <%= error %>
      </div>
    <% } %>
    <% if (success != '') { %>
      <div class="alert-success">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        <%= success %>
      </div>
    <% } %>
    <div class="avatar">
      <img src="<%= avatar %>" alt="Avatar">
    </div>
    <h1 class="centre"><%= user %></h1>
    <h3 class="centre">Área Restrita apenas para Administradores</h3>
    <a href="/auth/login/api"><button class="button"><span>Fazer login com o Discord </span></button></a>
    <h4 class="centre">&copy; <%= title %> - Todos os direitos reservados - 2023</h4>
  </div>

  <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
  <script src="../../js/particules.js" ></script>
</body>

</html>
