<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="icon" href="<%=avatar%>">
  <title>
    <%= title %> - Erro 500 - Erro interno do servidor
  </title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
  <% style.errors.css.forEach((csss)=> { %>
    <link rel="stylesheet" href="<%= urlloader %>/<%= style.pasta %>/<%= csss %>">
    <% }); %>

</head>

<body>
  <div id="particles-js"></div>
  <div class="text">
    <div class="avatar">
      <img src="<%= avatar %>" alt="Avatar">
    </div>
    <h1 class="centre">500</h1>
    <h2 class="centre">Erro interno do servidor</h2>
    <h4 class="centre">Desculpe, ocorreu um erro interno no servidor.</h4>
    <button class="button centre" onclick="goBack()">Voltar</button>
    <h4 class="centre">&copy; <%= title %> - Todos os direitos reservados - 2023</h4>
  </div>

  <!--===== Importação do Script =====-->
  <%if(style.errors.js) { style.errors.js.forEach((script)=> { %>
    <script src="<%= urlloader %>/<%= style.pasta %>/<%= script %>"></script>
    <% })}; %>
</body>

</html>