<!-- config.ejs -->
<!DOCTYPE html>
<html>

<head>
    <title>Setup - Configurações do Bot</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
    <link rel="stylesheet" href="./main.css">
    <style>
        body {
            font-family: Arial, sans-serif;
        }

        .desc {
            color: #fff;
            font-size: 15px;
        }

        .box {
            background: rgba(95, 95, 95, 0.575);
            border-radius: 10px;
            padding: 5px;
        }

        .boxs {
            background: rgba(95, 95, 95, 0.575);
            border-radius: 10px;
            padding: 20px;
            margin-top: 20px;
        }

        form {
            max-width: 400px;
            margin: 0 auto;
            padding: 20px;
            border-radius: 5px;
        }

        label {
            display: block;
            margin-bottom: 10px;
            font-weight: bold;
        }

        input[type="text"] {
            justify-content: center;
            margin-top: 5px;
            width: 100%;
            padding-top: 10px;
            padding-bottom: 10px;
            margin-top: 10px;
            border: 1px solid #ccc;
            border-radius: 10px;
        }

        a {
            text-decoration: none;
            color: rgb(72, 0, 206);
        }

        button[type="submit"] {
            margin-top: 10px;
            padding: 10px 20px;
            background-color: #015b97;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
    </style>
</head>

<body>
    <div id="particles-js"></div>
    <div class="text">
        <% if (error !='' ) { %>
            <div class="alert">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                <%= error %>
            </div>
            <% } %>
                <% if (success !='' ) { %>
                    <div class="alert-success">
                        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                        <%= success %>
                    </div>
                    <% } %>
                        <h1>Configurações do Bot</h1>
                        <form action="/setup=<%= setup %>/post" method="post">
                            <div class="boxs">
                                <label for="bot_client">Client ID</label>
                                <div class="desc">Id do cliente do discord, pode ser obtido no <a
                                        href="https://discord.com/developers/applications">portal do desenvolvedor
                                        do discord</a>
                                    ou copiando o id do bot pelo discord, no modo desenvolvedor.</div>
                                <input type="text" name="bot_client" value="<%= config.bot_client %>"><br>
                            </div>

                            <div class="boxs">
                                <label for="bot_client_secret">Client Secret</label>
                                <div class="desc">Segredo 0auth do bot,deve ser obtido no <a
                                        href="https://discord.com/developers/applications">portal do desenvolvedor
                                        do discord</a> e é usado para fazer logins e outras configurações.</div>
                                <input type="text" name="bot_client_secret" value="<%= config.bot_client_secret %>"><br>
                            </div>

                            <div class="boxs">
                                <label for="bot_callback_url">Callback URL</label>
                                <div class="desc">0auth do bot,deve ser adicionado no <a
                                        href="https://discord.com/developers/applications">portal do desenvolvedor
                                        do discord</a>, a callback será usada no login, junto do link, exemplo
                                    "http://exemplo.meu/auth/login/api", "/auth/login/api" é necessario estar na
                                    frente
                                    do link.</div>
                                <input type="text" name="bot_callback_url" value="<%= config.bot_callback_url %>"><br>
                            </div>

                            <div class="boxs">
                                <label for="bot_token">Token do Bot</label>
                                <div class="desc">Token usado para fazer login no bot,deve ser obtido no <a
                                        href="https://discord.com/developers/applications">portal do desenvolvedor
                                        do discord</a>, é um token secreto e não deve ser mostrado para os outros.</div>
                                <input type="text" name="bot_token" value="<%= config.bot_token %>"><br>
                            </div>

                            <div class="boxs">
                                <label for="web_admin_id">IDs dos Administradores</label>
                                <div class="desc">Id dos administradores do painel, pode ser obtido usando
                                    "\@seuNomeDoDiscord" em um chat privado ou copiando o id do pelo discord , no modo
                                    desenvolvedor, separe os administradores por "," exemplo "123456789,123456789"</div>
                                <input type="text" name="web_admin_id" value="<%= config.web_admin_id %>"><br>
                            </div>

                            <div class="boxs">
                                <label for="web_name">Nome do painel</label>
                                <div class="desc">Nome que será exibido para as pessoas, de diversas formas diferentes.
                                </div>
                                <input type="text" name="web_name" value="<%= config.web_name %>"><br>
                            </div>

                            <div class="boxs">
                                <label for="web_url">Link do painel</label>
                                <div class="desc">Link que será usado para algumas funções, deve ser o mesmo usado na
                                    callback, porem sem o "/auth/login/api".</div>
                                <input type="text" name="web_url" value="<%= config.web_url %>"><br>
                            </div>

                            <div class="boxs">
                                <label for="web_port">Porta do painel</label>
                                <div class="desc">Porta que vai ser usada para executar o painel na internet,
                                    normalmente usasse a "3000" por padrão.</div>
                                <input type="text" name="web_port" value="<%= config.web_port %>"><br>
                            </div>

                            <div class="boxs">
                                <label for="web_port">Está tudo configurado? salve aqui</label>
                                <input type="submit" value="Salvar" class="button">
                            </div>

                        </form>

                        <div class="box">
                            <h5>Gostaria de iniciar o bot agora? <a href="/setup=<%= setup %>/inicializar">Clique
                                    aqui</a></h5>
                        </div>

                        <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
                        <script src="./particules.js"></script>
</body>

</html>