<!DOCTYPE html>
<html>

<head>
  <link rel="icon" href="<%=avatar%>">
  <title>
    <%= title %>
  </title>
  <link rel="stylesheet" href="../<%=theme.theme%>" data-skin="default">
</head>

<body>
  <div style="display: flex;">

    <!-- Container -->
    <!-- Primeira sidebar estática -->
    <div class="static-sidebar">
      <div style="margin-top: 20px;"></div>
      <div class="circle">
        <img src="<%=avatar%>">
      </div>
      <div style="margin-top: 10px;"></div>
    </div>

    <!-- Segunda sidebar dinâmica -->
    <div class="dynamic-sidebar">
      <div style="margin-top: 20px;"></div>
      <div class="circle-title">
        <img src="<%=avatar%>">
      </div>
      <div class="sidebar-title">
        <%=user%>
      </div>
      <div style="margin-top: 20px;"></div>
      <a href="./" class="page-item">Início</a>
      <a href="./Settings" class="page-item">Configurações</a>
      <div class="page-item">Página 3</div>
    </div>
    <div class="container">
      <div class="header">
        <div class="toggle-button" onclick="toggleSidebar()"></div>
        <div class="dashboard-name">Configurações</div>
        <div class="user-info">
          <div class="user-image">
            <img src="https://cdn.discordapp.com/avatars/<%= profile.id %>/<%= profile.avatar %>" alt="">
          </div>
          <div class="user-details" onclick="addLogoutButton()">
            <div class="user-name">
              <%= profile.username %>
            </div>
            <div class="user-role">Administrador</div>
            <a href="./logout" class="user-logout">Deslogar</a>
          </div>
        </div>
      </div>
      <div class="conteudo">
        <% if(error !='' ){ %>
          <div class="alert">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            <%= error %>
          </div>
          <% } %>
            <% if(success !='' ){ %>
              <div class="alert-success">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                <%= success %>
              </div>
              <% } %>
                <!-- Inicia o codigo aqui-->
                <div class="box">
                  <h2>Configurações Principais</h2>
                  <div class="left-side">
                    <form method="post" action="/admin/settings/config">
                      <div class="command">
                        <label for="web_name">Nome do Painel:</label>
                        <input type="text" id="web_name" name="web_name" value="<%= config.web_name %>"
                          class="text-input">
                        <p class="command-description">Nome do painel atualmente <%= config.web_name %>.</p>
                      </div>

                      <div class="command">
                        <label for="web_url">Url do Painel:</label>
                        <input type="text" id="web_url" name="web_url" value="<%= config.web_url %>" class="text-input">
                        <p class="command-description">Url do painel.</p>
                      </div>

                      <div class="command">
                        <label for="web_port">Porta do Servidor:</label>
                        <input type="text" id="web_port" name="web_port" value="<%= config.web_port %>"
                          class="text-input">
                        <p class="command-description">A porta usada pelo Express.</p>
                      </div>

                      <div class="command">
                        <label for="web_admin_id">Administradores :</label>
                        <input type="text" id="web_admin_id" name="web_admin_id"
                          value="<%= config.web_admin_id.join(',') %>" class="text-input">
                        <p class="command-description">Coloque o id dos Administradores separando por ",".</p>
                      </div>

                      <input type="submit" value="Salvar" class="button">
                  </div>
                  <div class="right-side">

                    <div class="command">
                      <label for="bot_client">Client ID:</label>
                      <input type="text" id="bot_client" name="bot_client" value="<%= config.bot_client %>"
                        class="text-input">
                      <p class="command-description">ID do client da aplicação a ser usada..</p>
                    </div>

                    <div class="command">
                      <label for="bot_client_secret">Client Secret:</label>
                      <input type="text" id="bot_client_secret" name="bot_client_secret"
                        value="<%= config.bot_client_secret %>" class="text-input">
                      <p class="command-description">Cliente Secreto da aplicação do discord.</p>
                    </div>

                    <div class="command">
                      <label for="bot_callback_url">Callback URL :</label>
                      <input type="text" id="bot_callback_url" name="bot_callback_url"
                        value="<%= config.bot_callback_url %>" class="text-input">
                      <p class="command-description">Callback do discord 0Auth http://exemplo.com/auth/login/api.</p>
                    </div>

                    <div class="command">
                      <label for="bot_token">Token do Bot:</label>
                      <input type="text" id="bot_token" name="bot_token" value="<%= config.bot_token %>"
                        class="text-input">
                      <p class="command-description">Token do bot jamais compartilhe com ninguem.</p>
                    </div>

                    </form>
                  </div>
                </div>

                <div class="box">
                  <h2>Tema do Painel</h2>
                  <form method="post" action="/admin/settings/dashboard">
                    <label for="theme" class="label-input">Tema:</label>
                    <select id="theme" name="theme" class="select-input">
                      <% for (let i=0; i < themeName.length; i++) { %>
                        <option value="<%= themeName[i] %>" <%=(theme.theme===themeName[i]) ? 'selected' : '' %>><%=
                            themeName[i] %>
                        </option>
                        <% } %>
                    </select>
                    <input type="submit" value="Salvar" class="button">
                  </form>
                </div>

                <div class="box">
                  <h2>Enviar Tema</h2>
                  <p>Você pode enviar um arquivo "css" para usar ele de tema, mudando grande parte do estilos</p>
                  <form method="post" action="/admin/settings/upload/theme" enctype="multipart/form-data" class="form">
                    <div class="input-file">
                      <div class="box">
                        <span id="file-name">Nem um Arquivo selecionado <span id="file-name"></span></span>
                      </div>
                      <input type="file" name="sampleFile" id="sampleFile" class="input-file">
                      <label for="sampleFile" class="input-file-label">Selecionar arquivo</label>
                    </div>
                    <input type="submit" value="Upload" class="button">
                  </form>
                </div>
                <div class="footer">
                  &copy; <%= title %> - Todos os direitos reservados - 2023
                </div>
                <!-- Inicia o codigo aqui-->
      </div>
    </div>
  </div>

  <script src="../js/sidebar.js"></script>
</body>

</html>