<%- await include('../partials/top.ejs') %>
<!-- Aqui começa o conteúdo da admin -->
<div class="box-type-3">
    <div class="header">
        <h2>Lista de Tokens</h2>
        <a href="/admin/application-api/create" class="button-link">
            <button type="submit">Criar Token</button>
        </a>
    </div>
        <% if (tokens === "error") { %>
            <div class="footer">
            <p>Ocorreu um erro ao tentar obter a lista de tokens.</p>
        </div>
        <% } else if (!tokens || Object.keys(tokens).length === 0) { %>
            <div class="footer">
            <p>Ainda não existem tokens criados.</p>
        </div>
        <% } else { %>
            <div class="content">
            <table>
                <tr>
                    <th>ID</th>
                    <th>Identificação</th>
                    <th>Token</th>
                    <th>Último uso</th>
                    <th>Criado</th>
                </tr>
                <% Object.keys(tokens).forEach(function(key) {
                        const tokenList = tokens[key];
                        tokenList.forEach(function(token) {
                %>
                <tr>
                    <td><%= key %></td>
                    <td><%= token.ident %></td>
                    <td><%= token.token %></td>
                    <td><%= token.last_use %></td>
                    <td><%= token.create_at %></td>
                    <td>
                        <form action="/admin/application-api/delete" method="post" class="delete-form">
                            <input type="hidden" name="id" value="<%= key %>">
                            <i class="bx bx-trash delete-icon" onclick="submitForm(this.parentNode)"></i>
                        </form>
                    </td>
                </tr>
                <% });
                    }
                );
                %>
            </table>
        <% } %>
        </div>
    </div>
    <div style="margin-top: 10px;">
                            </div>
</div>
<%- await include('../partials/footer.ejs') %>
