<!DOCTYPE html>
<html>

<head>
  <link rel="icon" href="<%=avatar%>">
  <title>
    <%= title %>
  </title>
  <link rel="stylesheet" href="../<%=theme.theme%>" data-skin="default">
</head>

<body>
  <div style="display: flex;">

    <!-- Container -->
    <!-- Primeira sidebar estática -->
    <div class="static-sidebar">
      <div style="margin-top: 20px;"></div>
      <div class="circle">
        <img src="<%=avatar%>">
      </div>
      <div style="margin-top: 10px;"></div>
    </div>

    <!-- Segunda sidebar dinâmica -->
    <div class="dynamic-sidebar">
      <div style="margin-top: 20px;"></div>
      <div class="circle-title">
        <img src="<%=avatar%>">
      </div>
      <div class="sidebar-title">
        <%=user%>
      </div>
      <div style="margin-top: 20px;"></div>
      <a href="./" class="page-item">Início</a>
      <a href="./Settings" class="page-item">Configurações</a>
      <div class="page-item">Página 3</div>
    </div>
    <div class="container">
      <div class="header">
        <div class="toggle-button" onclick="toggleSidebar()"></div>
        <div class="dashboard-name">Configurações</div>
        <div class="user-info">
          <div class="user-image">
            <img src="https://cdn.discordapp.com/avatars/<%= profile.id %>/<%= profile.avatar %>" alt="">
          </div>
          <div class="user-details">
            <div class="user-name">
              <%= profile.username %>
            </div>
            <div class="user-role">Administrador</div>
          </div>
        </div>
      </div>
      <div class="conteudo">
        <% if(error !='' ){ %>
          <div class="alert">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            <%= error %>
          </div>
          <% } %>
            <% if(success !='' ){ %>
              <div class="alert-success">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                <%= success %>
              </div>
              <% } %>
