<!DOCTYPE html>
<html lang="pt-br">

<meta charset="UTF-8">

<head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- ===== Plugin de Icon ===== -->
        <link rel="icon" href="<%=avatar%>">
        <title>
                <%= config.web_name %>
        </title>
        <% style.admin.css.forEach((csss)=> { %>
                <link rel="stylesheet" href="<%= urlloader %>/<%= style.pasta %>/<%= csss %>">
                <% }); %>
</head>

<body id="corpo-site">
        <header class="menu-superior" id="menu-superior">
                <div class="btn-menu">
                        <i class='bx bx-menu' id="btn-menu"></i>
                </div>

                <div></div>
                <i class="bx bxs-bell icone"></i>
                </div>
        </header>

        <div class="menu-lateral" id="menu-lateral">
                <nav class="nav">
                        <div>
                                <a href="#" class="menu-logo">
                                        <img src="<%=avatar%>" class="menu-logo-img">
                                        <span class="menu-logo-nome">
                                                <%=user%>
                                        </span>
                                </a>

                                <div>
                                        <a href="/admin/" class="nav-lista">
                                                <i class='bx bx-home nav-icone'></i>
                                                <span>Pagina Inicial</span>
                                        </a>

                                        <a href="/admin/web-chat" class="nav-lista">
                                                <i class='bx bx-box nav-icone'></i>
                                                <span>Chat <%=user%></span>
                                        </a>

                                        <a href="/admin/application-api" class="nav-lista">
                                                <i class='bx bx-code-alt nav-icone'></i>
                                                <span>Aplicação de Api</span>
                                        </a>

                                        <a href="/admin/settings" class="nav-lista">
                                                <i class='bx bx-cog nav-icone'></i>
                                                <span>Configurações</span>
                                        </a>

                                        <!-- <a href="#" class="nav-lista">
                                                <i class='bx bx-message-square-detail nav-icone'></i>
                                                <span>Vendas</span>
                                        </a>

                                        <a href="#" class="nav-lista">
                                                <i class='bx bx-purchase-tag nav-icone'></i>
                                                <span>Compras</span>
                                        </a>

                                        <a href="#" class="nav-lista">
                                                <i class='bx bx-dollar nav-icone'></i>
                                                <span>Financeiro</span>
                                        </a>

                                        <a href="#" class="nav-lista">
                                                <i class='bx bx-receipt nav-icone'></i>
                                                <span>NF</span>
                                        </a>

                                        <a href="#" class="nav-lista">
                                                <i class='bx bx-bar-chart-alt-2 nav-icone'></i>
                                                <span>Relatório</span>
                                        </a> -->
                                </div>
                        </div>
                </nav>
        </div>
        <!-- <h1>Conteúdo</h1> -->
        <div class="conteudo">
                <div class="conteudos">
                        <% if(alert_system.message !='' && alert_system.admin === 'on' ){ %>
                                <div class="alert-system" style="border: 2px solid <%= alert_system.color%>; background-color:<%= alert_system.backgroundColor %>;">
                                        <span class="closebtn"
                                                onclick="this.parentElement.style.display='none';">&times;</span>
                                        <%= alert_system.message %>
                                </div>
                                <% } %>
                                        <% if(error !='' ){ %>
                                                <div class="alert-error">
                                                        <span class="closebtn"
                                                                onclick="this.parentElement.style.display='none';">&times;</span>
                                                        <%= error %>
                                                </div>
                                                <% } %>
                                                        <% if(success !='' ){ %>
                                                                <div class="alert-success">
                                                                        <span class="closebtn"
                                                                                onclick="this.parentElement.style.display='none';">&times;</span>
                                                                        <%= success %>
                                                                </div>
                                                                <% } %>